.form-row{
    margin: 0px 5px;
    background-color: white;

}

.form-wrapper {
    max-width: 60rem;
    margin: 0.75rem auto;
    background-color: white;
    padding: 0px 10%;
    padding-top: 1.5%;
    filter: brightness(104.5%);
    
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px 2px;
    border-radius: 0.5rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.75rem;
}
.form-group p {
    margin: 1em 0;
  }
  
.form-group .help-text,
.form-group .help-text ~ ul {
margin: 0;
font-size: 1.2rem;
list-style: none;
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid rgb(0, 83, 134);
}

.form-group input{
    height: 1rem;
}


.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
outline: none;
box-shadow: 0 0 5px rgb(0, 83, 134);
}

.form-group label {
    font-size: 1rem;
}

.message {
    max-width: 600px;
    margin: 0.75rem auto;
    margin-top: calc(0.75rem * 2);
    padding: 0.75rem;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
}

.message.success {
background: rgba(0, 255, 0, 0.3);
border: 1px solid rgba(0, 255, 0, 90%);
}

.message.error {
    background: rgba(255, 0, 0, 0.3);
    border: 1px solid rgba(255, 0, 0, 90%);
}
.message ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.message.warning {
background: rgba(255, 255, 0, 0.3);
border: 1px solid rgba(255, 255, 0, 90%);
}

.message.info {
background: rgba(0, 0, 255, 0.3);
border: 1px solid rgba(0, 0, 255, 0.3);
}

.btn-submit-form{
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: white;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.form-input{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-bottom: 10px;
}
