.home-row-1, .home-row-2, .home-row-3, .home-row-4{
    margin: 0px 5px;
}
.home-row-1{
    height: 10%;
}
/* .home-row-2, .home-row-3{
    height: 42%;
} */
.home-row-4{
    height: 6%;
}
.feat-header{
    height: 18%;
}
.feat-title{
    color: var(--icon-feat-color);
    font-size: 1.5rem;
}

.feature-card{
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px 2px;
    padding-top: 20px;
    border-radius: 5px;
}
.feature-card:hover{
    transition: filter var(--transition-fast) ease-in-out;
    filter: brightness(70%);
}

.copyrigth{
    font-size: 0.85rem;
}

.loading{
    cursor: wait;
}
