{% load static %}
<div class="modal" role="dialog" id="charts-carousel-modal" tabindex="-1" aria-labelledby="charts-carousel-modalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-content-charts-carousel">
            <div class="modal-header modal-header-charts-carousel p-0 d-flex flex-row align-items-center justify-content-center">
                
                <h3 class="modal-title" id="charts-carouselModalLabel"><b>Gráficos</b></h3>
            </div>
            <div class="modal-body">
                <div id="carouselCharts" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for file in files %}
                            <div class="carousel-item active">
                                <img src="{{file.file}}" class="d-block w-100">
                            </div>
                        {% endfor %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCharts" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselCharts" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>