{% extends "partials/layout.html" %}
{% load static %}

{% block head_imports %}
<!--Home - CSS-->
<link rel="stylesheet" href="{% static "css/home.css" %}">

{% endblock head_imports %}

{% block btns_aside %}

    <button
        class="btn-default-ligth w-100 border-0"
        onclick='window.location.href = "/api"' 
        data-bs-toggle="tooltip" 
        data-bs-placement="right" 
        title="Swagger" 
    >
        <span class="btn-symbol material-symbols-outlined h-100 d-flex align-items-center justify-content-center">
            <img src="{% static 'libs/google-material-icons/api.svg' %}" alt="home icon" class="material-icon">
        </span>
    </button>

{% endblock btns_aside %}

{% block page_content %}
    <div class="h-100 w-100 d-flex flex-column">
        <div class="row flex-shrink-0 home-row-1">
            <div class="col d-flex align-items-center justify-content-center" onclick=''>
                <h2><b>Funcionalidades</b></h2>
            </div>
        </div>
        
        <div class="row flex-grow-1 home-row-2 h-auto pb-5">
            <div class="col-4  h-100">
                <div class="feature-card d-flex flex-column w-100 h-100" style="cursor: pointer;" onclick="window.location.href='{% url "frontend:avaliation_inputs" %}'">
                    <div class="feat-header d-flex align-items-center justify-content-center">
                        
                        <span class="feat-icon material-symbols-outlined w-25 h-100 d-flex align-items-center justify-content-center">                        
                            <img src="{% static 'libs/google-material-icons/calculate.svg' %}" class="material-icon">
                        </span>
                        <h2 class="feat-title flex-grow-1 h-100 d-flex align-items-center justify-content-start m-0"><b>Avaliação</b> </h2>
                        
                    </div>
                    <hr class="ms-3 me-3">
                    <div class="feat-des ms-3 me-3">
                        <p class="text-justify h-100 w-100">
                            Cálculo do trocador de calor casco e tubo utilizando o método Bell-Dellaware.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 h-100">
                <div class="feature-card d-flex flex-column w-100 h-100" style="cursor: pointer;" onclick="window.location.href='{% url "frontend:ga_inputs" %}'">
                    <div class="feat-header d-flex align-items-center justify-content-center">
                        
                        <span class="feat-icon material-symbols-outlined w-25 h-100 d-flex align-items-center justify-content-center">
                            <img src="{% static 'libs/google-material-icons/genetic.svg' %}" class="material-icon">
                        </span>
                        <h2 class="feat-title flex-grow-1 h-100 d-flex align-items-center justify-content-start m-0"><b>Otimização GA</b> </h2>
                        
                    </div>
                    <hr class="ms-3 me-3">
                    <div class="feat-des ms-3 me-3">
                        <p class="text-justify">
                            Otimização do trocador de calor casco e tubo utilizando o método de algoritmos genéticos simples.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex  h-100" >
                <div class="feature-card d-flex flex-column w-100 h-100" style="cursor: pointer;" onclick="window.location.href='{% url "frontend:nsga2_inputs" %}'">
                    <div class="feat-header d-flex align-items-center pe-3 justify-content-center">
                        
                        <span class="feat-icon material-symbols-outlined w-25 h-100 d-flex align-items-center justify-content-center">                        
                            <img src="{% static 'libs/google-material-icons/rocket.svg' %}" class="material-icon">
                        </span>
                        <h2 class="feat-title flex-grow-1 h-100 d-flex align-items-center justify-content-start m-0"><b>Otmização NSGA-II</b> </h2>
                        
                    </div>
                    <hr class="ms-3 me-3">
                    <div class="feat-des ms-3 me-3">
                        <p class="text-justify">
                            Otmização multiobjetivo do trocador de calor casco e tubo  utilizando o algoritmo NSGA-II
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row  flex-shrink-0 home-row-3 h-25 d-lg-flex d-md-none pb-5">
           
        </div> 
        <div class="row flex-shrink-0 home-row-4">
            <div class="col copyrigth d-flex align-items-center justify-content-center">
                © STHEGA - Developed by Emmanuel Henrique de Faria Carvalho
            </div>
        </div>
        
        
        
    </div>

{% endblock page_content %} 
{% block scripts %}   

{% endblock scripts %} 
